@import "../index.scss";


.order-summary{
    width: 100%;
    height: auto;
    padding: 15px;
}
.order-summary h1{
    margin-bottom: 20px;
}
table{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}