@import "../index.scss";


.payment-info{
    width: 100%;
    height: auto;
    padding: 15px;
}
.payment-info p{
    font-weight: bold;
}
.input, .exp-input{
margin: 15px 0;
}
.input input{
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;
}
.exp-input input{
    width: 30%;
    height: 40px;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 5px;
    border: none;
    border-bottom: 2px solid $mainBlack;
}
.exp-input{
    overflow: hidden;
}
.date-input{
    float:left;
}

.cvc-input{
    float:right;
    margin-top: -60px;
}
button{
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    font-weight: lighter;
    border-radius: 5%;
    padding: 5px;
    border: 0;
    color: $mainWhite;
    background-color: #ff4500;
    margin-bottom: 20px;
}
.encyrpt-msg{
    width: 70%;
    margin: auto;
    color: #b8b4b4;
}

