*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainBlack: #222;
$mainWhite: #fff;
$mainGreen: #82b340;
$mainGrey: #ececec;

body{
  font-family: "Open Sans", sans-serif;
  background: $mainWhite;
  color: $mainBlack;
  // width: 60%;
  // height: auto;
  // margin: auto;
}